<!DOCTYPE html>
<html>
<head>
    <link href="../../ext-6.0.0/build/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet">
    <script src="../../ext-6.0.0/build/ext-all.js"></script>

    <script type="text/javascript">
 Ext.onReady(function () {

        win = new Ext.Window({
                title:'Email Window',
                layout:'form',
                width:400,
                closeAction:'close',
                //target : document.getElementById('buttonId'),
                plain: true,
                items: [{
                xtype : 'textfield',
                fieldLabel: 'To'
                },{
                xtype : 'textfield',
                fieldLabel: 'CC'
                },{
                xtype : 'textfield',
                fieldLabel: 'BCC'
                },{
                xtype : 'textfield',
                fieldLabel: 'Subject'
                },{
                xtype : 'textarea',
                fieldLabel: 'Email Message'
                }],
                buttons: [{
                text: 'Save Draft',
                handler: function(){Ext.Msg.alert('Save Draft', 'Your msg is saved');}
                },{
                text: 'Send',
                handler: function(){Ext.Msg.alert('Message Sent', 'Your msg is sent');}
                },{
                text: 'Cancel',
                handler: function(){win.close(); Ext.Msg.alert('close', 'Email window is closed');}
                }],
                buttonAlign: 'center',
            });

            var store = Ext.create('Ext.data.Store', {
                fields: ["cataId", "cataNo", "cataRemark", "cataTitle", "cataObjectName", "cataeditstatusName",
                     "cataPublishName", "cataEndDate", "holyUpdateTime", "catapushtime"],
                pageSize: 20,  //页容量5条数据
                //是否在服务端排序 （true的话，在客户端就不能排序）
                remoteSort: false,
                remoteFilter: true,
                // proxy: {
                //     type: 'ajax',
                //     url: '/Tools/106.ashx?method=getAllCatalog',
                //     reader: {   //这里的reader为数据存储组织的地方，下面的配置是为json格式的数据，例如：[{"total":50,"rows":[{"a":"3","b":"4"}]}]
                //         type: 'json', //返回数据类型为json格式
                //         root: 'rows',  //数据
                //         totalProperty: 'total' //数据总条数
                //     }
                // },
                data:[{"rowNum":"1","cataId":"852","cataNo":"10000809","cataTitle":"","cataObject":"4","cataObjectName":"华悦购物","cataType":"1","cataTypeName":"默认","cataeditstatus":"2","cataeditstatusName":"待提交","cataPublishStatus":"2","cataPublishName":"已发布","cataRemark":"banner广告","cataObjectType":"2","apptypename":"销售","cataEndDate":"2014-09-27","holyCreateTime":"2013-11-24 16:02:04","holyUpdateTime":"","catapushtime":"","holyCreateUser":"lhcs"},
                {"rowNum":"1","cataId":"853","cataNo":"10000809","cataTitle":"","cataObject":"4","cataObjectName":"华悦购物","cataType":"1","cataTypeName":"默认","cataeditstatus":"2","cataeditstatusName":"待提交","cataPublishStatus":"2","cataPublishName":"已发布","cataRemark":"banner广告","cataObjectType":"2","apptypename":"销售","cataEndDate":"2014-09-27","holyCreateTime":"2013-11-24 16:02:04","holyUpdateTime":"","catapushtime":"","holyCreateUser":"lhcs"}]
                ,
                sorters: [{
                    //排序字段。
                    property: 'ordeId',
                    //排序类型，默认为 ASC 
                    direction: 'desc'
                }],
                autoLoad: true  //即时加载数据
            });
 
            var RowEditing = Ext.create('Ext.grid.plugin.RowEditing', { // 行编辑模式
                        clicksToMoveEditor : 2,   //双击编辑  整行修改
                        autoCancel : false,
                        //saveBtnText:'确定',
                        //cancelBtnText:'取消',
                        errorsText:'错误',
                        dirtyText:'你要确认或取消更改'
                       
            });
            
            
            var grid = Ext.create('Ext.grid.Panel', {
            renderTo: Ext.getBody(),
            store: store,
            height: 400,
            width:800,
            selModel: { selType: 'checkboxmodel' },   //选择框
            columns: [                    
                          { text: '型录ID', editor: { xtype: 'textfield' },dataIndex: 'cataId', align: 'left', maxWidth: 80 },
                          { text: '型录编号', dataIndex: 'cataNo',  maxWidth: 120 },
                          { text: '助记标题', dataIndex: 'cataTitle', align: 'left', minWidth: 80 },
                          { text: '应用对象', dataIndex: 'cataObjectName', maxWidth: 80, align: 'left' },                        
                          { text: '发布状态', dataIndex: 'cataPublishName', maxWidth: 80 },
                          { text: '活动截止日期', dataIndex: 'cataEndDate',xtype:'datecolumn',dateFormat :'Y-m-d H:i:s' },
                          { text: '更新时间', dataIndex: 'holyUpdateTime',xtype:'datecolumn',dateFormat :'Y-m-d H:i:s'},
                          { text: '发布时间', dataIndex: 'catapushtime',xtype:'datecolumn',dateFormat :'Y-m-d H:i:s'}
                       ],
            bbar: [{
                xtype: 'pagingtoolbar',
                store: store,
                displayMsg: '显示 {0} - {1} 条，共计 {2} 条',
                emptyMsg: "没有数据",
                beforePageText: "当前页",
                afterPageText: "共{0}页",
                displayInfo: true                 
            }],
            plugins : [RowEditing],                          //绑定编辑对象 
             listeners: { 
            //     'itemclick': function (view, record, item, index, e) {
            //    Ext.MessageBox.alert("标题",record.data.cataId);
            // },
            'itemdblclick':function(view, record, item, index, e){
                //win.show();
            }
            },
             tbar:[
             {text:'新增',iconCls:'a_add',handler:showAlert},"-",
             {text:'编辑',iconCls:'a_edit2',handler:showAlert},"-",
             {text:'停用/启用',iconCls:'a_lock'},"-",
             {text:'发布',iconCls:'a_upload',handler:showAlert},"-",
             {text:'组织型录',iconCls:'a_edit',handler:showAlert},"-",
             {text:'管理商品',iconCls:'a_edit',handler:showAlert},"-",
             "->",{ iconCls:"a_search",text:"搜索",handler:showAlert}], 
        });
 
function showAlert (){
      var selectedData=grid.getSelectionModel().getSelection()[0].data;
 
      Ext.MessageBox.alert("标题",selectedData.cataId);
 }
 

 grid.getView().on("render",function(view){  
                view.tip=Ext.create('Ext.tip.ToolTip',{  
                    target:view.el,  
                    delegate:view.itemSelector,  
                    trackMouse:true,  
                    renderTo:Ext.getBody(),  
                    listeners:{  
                       beforeshow:function(tip){  
                           var record=view.getRecord(tip.triggerElement);  
                           var ucc=record.get("prcaImg").substring(0,1);                          
                           var html="<div ><img width='300px'  src='/upload/"+ucc+"/"+record.get("prcaImg")+"'></div>";  
                           tip.update(html);
                       }  
                    }  
      
                }); 
            });

}); 

   </script>
</head>
<body>
   <div id = "gridDiv"></div>
</body>
</html>